.login_btn_submit {
  padding: 1.3rem 12.5rem;
  border-radius: 7px;
  border: none;
  margin-left: 25% !important;
  background: linear-gradient(#b0d65f, #77ad41);
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}

.login_btn_submit:hover {
  color: #fff;
  text-decoration: none;
}
